.timeline {
    border-left: 1px solid black;
    min-width: 300px;
}

.timeline::before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: black;
    border-radius: 100%;
    left: -13px;
}